@import url('./styles/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.html-parser h3 {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.1rem;
   }

@layer components {
    .card-styles-primary {
        @apply p-5 cursor-pointer bg-white rounded hover:shadow-xl hover:shadow-gray-300 transition-all duration-200
    }
}
@layer components {
    .card-grid-layout-primary {
        @apply  grid p-3 gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
    }
}
@layer components {
    .card-grid-layout-secondary {
        @apply  grid p-3 gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3
    }
}